.landing-page {
    gap: 1.5em;
    justify-content: center;
    .pfp {
        height: 30%;
        width: auto;
        border-radius: 50%;
        border: 0.5em solid transparent;
        background: radial-gradient($navy, $pink);
    }
    .button-container {
        display: flex;
        gap: 1em;
        flex-shrink: 1;
    }
    p {
        margin: 0;
    }
}