@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");
body {
  margin: 0;
}

* {
  font-family: 'Manrope', sans-serif;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: radial-gradient(#FF008E, #D22779, #612897, #0C1E7F);
  width: 100vw;
  height: 100vh;
  padding: 0;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 2em;
  padding: 2em;
  width: max(30vw, 300px);
  height: max(50vh, 400px);
  gap: min(1em, 10px);
}

.card h1, .card p {
  margin: 0;
}

.button {
  padding: 1.5em;
  border-radius: 2em;
  border: none;
  color: black;
  background-color: #FF008E;
  font-size: 1em;
  font-weight: bold;
}

.button:hover {
  cursor: pointer;
}

.login-page {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5em;
}

.login-page .login-icon {
  width: 30%;
  height: auto;
}

.landing-page {
  gap: 1.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing-page .pfp {
  height: 30%;
  width: auto;
  border-radius: 50%;
  border: 0.5em solid transparent;
  background: radial-gradient(#0C1E7F, #FF008E);
}

.landing-page .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.landing-page p {
  margin: 0;
}

.modal-backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: #000000e1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.modal {
  margin: auto;
  gap: 1.5em;
}

.modal img {
  height: max(30%, 100px);
  width: auto;
}

.modal .code-input-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
  width: 100%;
}

.modal .code-input-form input, .modal .code-input-form button {
  border-radius: 1em;
  text-align: center;
  padding: 0.5em;
  border: none;
  min-width: 50%;
  max-width: 100%;
}

.modal .code-input-form input {
  border-radius: 1em;
  padding: 0.5em;
  border: 2px solid black;
}
/*# sourceMappingURL=main.css.map */